<div class="flex">
  <div class="flex flex-wrap w-full">
    <div class="bg-white rounded shadow p-6 m-4 w-full">
      <div class="mb-4">
        <h1 class="text-gray-900 ">
          {{@list.title}}
        </h1>
        <div class="flex mt-4">
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-gray-900"
            placeholder="Add Todo"
          />
          <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal-500">
            Add
          </button>
        </div>
      </div>
      <div>
        <TodoItem />
        <TodoItem />
      </div>
      <nav>
        <button class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal-500">
          Remove
      list
        </button>
      </nav>
    </div>
  </div>
</div>