<form class="flex mt-4" {{on "submit" this.onSubmit}}>
  <Input @value={{this.itemName}}
  class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-gray-900" 
  placeholder={{@placeHolder}}  />
  <button 
    type="submit" 
    class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal-500">
    create
  </button>
</form>