<div class="overflow-hidden shadow-lg border-t-4 bg-white mb-4 border-red-light w-full md:w-1/4 h-screen">
  <div class="px-6 py-4 mb-2 mt-4 mb-8">
    <div class="uppercase tracking-wide text-c2 mb-4">
      Todos Lists
    </div>
    <ul>
      <Ui::ListItem />
      <Ui::ListItem />
      <Ui::ListItem />
      <Ui::ListItem />
    </ul>
  </div>
</div>