<div class="overflow-hidden shadow-lg  bg-white mb-4 border-red-light w-full h-screen">
  <div class="px-6 py-4 mb-2 mt-4 mb-8">
    <div class="uppercase tracking-wide text-c2 mb-4">
      Todos Lists
    </div>
    Loading Data
    <ul>
      {{#each this.lists as |list|}}
        <Ui::ListItem @title={{list.title}} />
      {{/each}}
    </ul>
  </div>
</div>